<head> 
<link rel ="stylesheet" href = "wwwroot/site.css"> 
</head> 
@{
    ViewData["Title"] = "Index";
}

<section> 
    <div>
    <img src="~/img/globo.png"> 
    </div> 
    <div>
    <h1>ORTWorld</h1> 
    </div>
    <p>Empresa numero uno en viajes</p>
</section> 
<div>  
<a href ='@Url.Action("SelectPaquete")'><button>Crear Paquete</button> </a>
</div>
<div>
    @if (ViewBag.DicPaquetes != null)
    {
        int i = 1;
        @foreach(string item in ViewBag.DicPaquetes.Keys)
        {
            
            <h2> Paquete @i </h2>
            <img src="~/img/@item">
            <img src="~/img/@ViewBag.DicPaquetes[item].Aereo">
            <img src="~/img/@ViewBag.DicPaquetes[item].Hotel">
            <img src="~/img/@ViewBag.DicPaquetes[item].Excursion">
            i++;
        }
    }
    else
    {
        <h4>Aún no hay paquetes cargados.</h4>
    }
    
</div>