@{
    ViewData["Title"] = "Index";
}

<div>
    <h1>ORTWorld</h1>
    <p>Empresa numero uno en viajes</p>
</div> 
<div>  
<link href = "HomeController.SelectPaquete()" > 
<button>Crear Paquete</button>
</div>
